// font-family: 'Montserrat', sans-serif;
// font-family: 'Mulish', sans-serif;
// 
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

.nav-bar-p {
    margin: 0 !important;
}

.own-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
}

header {

    background-color: #FFC01F;
    padding: 15px 0;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

}

.nav-bar {
    padding: 40px 0;

    .nav-bar-p {
        margin: 0 !important;
    }

    a {
        color: #353535;
    }

    .lang-hover:hover {
        color: #FFC01F;
        cursor: pointer;
    }
}

@media (max-width:992px) {

    .right-col {
        display: none;
        color: white;
    }

    .left-col {
        width: 100%;
        background-image: url(..//photo/image\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

}


.sec-1 {
    display: flex;
    align-items: center;

    img {
        width: 100%;
        padding: 10px 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.sec-1-p1 {
    color: #596C72;
    font-weight: 700;
    font-size: 44px;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;

}

.sec-1-p2 {
    font-weight: 400;
    font-size: 14px;
    width: 72%;
    font-family: 'Mulish', sans-serif;

}

.sec-1-button {
    border: 1px solid #000;
    background-color: white;
    color: #000;
    padding: 8px 50px;
    border-radius: 20px;
    font-family: 'Mulish', sans-serif;

}

.sec-1-button:hover {
    background-color: #FFC01F;
}


.techniques {
    margin-top: 5rem;

    .tech-card {
        background-color: white;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        padding: 25px 0 0;
        transition: 500ms;


        img {
            width: 100%;
        }
    }

    .tech-card:hover {
        transform: scale(1.06);
        cursor: pointer;
    }


    .tech-cards_p {
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        color: #596C72;
    }

    .tech-card-head_P {
        font-weight: 700;
        color: #596C72;
        font-size: 30px;
        line-height: 36.57px;
        font-family: 'Montserrat', sans-serif;

    }
}

.left-sc-img {
    img {
        padding: 10px 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.right-sc {
    img {
        width: 100%;
        padding: 10px 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.tech-cards {
    transition: 700ms;

    &:hover {
        cursor: pointer;
        transform: scale(1.07);
    }

    .tech-card-p1 {
        color: #596C72;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
        font-family: 'Montserrat', sans-serif;

    }

    .tech-card-p2 {
        color: #686868;
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17.57px;
    }

    .tech-card-p3 {
        color: #B0ADAD;
        font-weight: 400;
        font-size: 14px;
        line-height: 17.57px;
    }

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 5px 20px;

    img {
        width: 100%;
    }

    .tech-card-text2 {
        font-family: 'Montserrat', sans-serif;

        text-align: end;
        color: #FFC01F;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
    }

    .tech-card-btn {
        text-align: center;

        button {
            border: 1px solid #000;
            background-color: white;
            color: #000;
            padding: 5px 100px;
            border-radius: 20px;
            font-family: 'Mulish', sans-serif;
        }

        button:hover {
            background-color: #FFC01F;

        }
    }
}

.tech-card-botto-button {
    margin-top: 3rem;
    text-align: center;

    button {
        transition: 100ms;
        border: 1px solid #000;
        background-color: #FFC01F;
        color: #000;
        padding: 8px 50px;
        border-radius: 20px;
        font-family: 'Mulish', sans-serif;
    }

    button:hover {
        transform: scale(1.1);
        background-color: white;
    }
}