* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

.nav-bar-p {
  margin: 0 !important;
}

.own-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
}

header {
  background-color: #FFC01F;
  padding: 15px 0;
}
header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.nav-bar {
  padding: 40px 0;
}
.nav-bar .nav-bar-p {
  margin: 0 !important;
}
.nav-bar a {
  color: #353535;
}
.nav-bar .lang-hover:hover {
  color: #FFC01F;
  cursor: pointer;
}

@media (max-width: 992px) {
  .right-col {
    display: none;
  }
  .left-col {
    width: 100%;
    background-image: url(..//photo/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
    padding: 20px 15px;
  }
  .sec-1-p1 {
    color: white !important;
    font-size: 30px !important;
  }
  .tech-card {
    display: flex;
    padding: 30px 0 !important;
  }
  .tech-card p {
    text-align: center;
    margin: 0 auto;
  }
  .tech-card img {
    display: none;
  }
  .left-sc-img img {
    display: none;
  }
}
.sec-1 {
  display: flex;
  align-items: center;
}
.sec-1 img {
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.sec-1-p1 {
  color: #596C72;
  font-weight: 700;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
}

.sec-1-p2 {
  font-weight: 400;
  font-size: 14px;
  width: 72%;
  font-family: "Mulish", sans-serif;
}

.sec-1-button {
  border: 1px solid #000;
  background-color: white;
  color: #000;
  padding: 8px 50px;
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
}

.sec-1-button:hover {
  background-color: #FFC01F;
}

.techniques {
  margin-top: 5rem;
}
.techniques .tech-card {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 25px 0 0;
}
.techniques .tech-card img {
  width: 100%;
}
.techniques .tech-card:hover {
  cursor: pointer;
}
.techniques .tech-cards_p {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #596C72;
}
.techniques .tech-card-head_P {
  font-weight: 700;
  color: #596C72;
  font-size: 30px;
  line-height: 36.57px;
  font-family: "Montserrat", sans-serif;
}

.left-sc-img img {
  padding: 10px 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.right-sc img {
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 992px) {
  .right-sc {
    display: none;
  }
  .right-sc-text {
    background-image: url(../photo/home-page-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
    padding: 20px 15px;
  }
}
.tech-cards {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5px 5px;
  border-radius: 10px;
}
.tech-cards .tech-card-p1 {
  color: #596C72;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  font-family: "Montserrat", sans-serif;
}
.tech-cards .tech-card-p2 {
  color: #686868;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.57px;
}
.tech-cards .tech-card-p3 {
  color: #B0ADAD;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.57px;
}
.tech-cards img {
  width: 100%;
}
.tech-cards .tech-card-text2 {
  font-family: "Montserrat", sans-serif;
  text-align: end;
  color: #FFC01F;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
}
.tech-cards .tech-card-btn {
  text-align: center;
}
.tech-cards .tech-card-btn button {
  border: 1px solid #000;
  background-color: white;
  color: #000;
  padding: 5px 80px;
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
}
.tech-cards .tech-card-btn button:hover {
  background-color: #FFC01F;
}

.tech-card-botto-button {
  margin-top: 3rem;
  text-align: center;
}
.tech-card-botto-button button {
  transition: 100ms;
  border: 1px solid #000;
  background-color: #FFC01F;
  color: #000;
  padding: 8px 50px;
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
}
.tech-card-botto-button button:hover {
  transform: scale(1.1);
  background-color: white;
}

.mark-head-p p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
  color: #596C72;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.marks .mark {
  background-color: white;
}

.swiper {
  width: 100%;
}

.innovations_part {
  margin-bottom: 15rem;
}
.innovations_part img {
  width: 100%;
}
.innovations_part h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #596C72;
  font-family: "Montserrat", sans-serif;
  margin-top: 6rem;
}

.innovations-card {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.innovations_card_text :nth-child(1) {
  color: #191919;
  line-height: 19.5px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.innovations_card_text :nth-child(2) {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.57px;
  color: #69768B;
}

.innovations_card_text :nth-child(3) {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin-top: 35px;
}

.innovations_card_text {
  padding: 10px 10px;
}

.contackt-img img {
  position: relative;
  bottom: 210px;
  width: 100%;
}

.con-inp-all {
  display: flex;
  gap: 20px;
}
.con-inp-all .con-inp {
  display: flex;
  gap: 30px;
}

.contact-part {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  padding: 55px 25px;
  height: 25rem;
}

.cont-text h1 {
  color: #596C72;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
}
.cont-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #353535;
  font-family: "Mulish", sans-serif;
}

.con-inp input {
  outline: none;
  padding: 10px 25px;
  border: none;
  border-radius: 35px;
}

.con-inp-all {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-buttn button {
  width: 100%;
  padding: 10px 0;
  border-radius: 30px;
  border: none;
  background-color: #FFC01F;
  transition: 500ms;
}
.contact-buttn button:hover {
  background-color: white;
}

.contact-part__all {
  display: flex;
  background-color: #EFEFEF;
  height: 400px;
  margin-bottom: 5rem;
}

@media (max-width: 1200px) {
  .con-right img {
    display: none;
  }
}
@media (max-width: 768px) {
  .con-right img {
    display: none;
  }
}
@media (max-width: 576px) {
  .con-inp {
    flex-direction: column;
  }
  .contact-part__all {
    height: 625px;
    width: 100%;
  }
}
.foot-top-part {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.foot-top-text .foot-top-text-p1 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #596C72;
}
.foot-top-text .foot-top-text-p2 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  width: 87%;
}

.foot-top-img img {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 10px;
  max-width: 100%;
}

@media (max-width: 992px) {
  .foot-top-img img {
    display: none;
  }
  .foot-top-text {
    width: 100%;
    background-image: url(../photo/image\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 73vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
    padding: 20px 15px;
  }
  .foot-top-text-p1 {
    color: white !important;
  }
}
footer {
  background-image: url(../photo/Mask\ group.png);
}
footer .foot-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 70px;
}

.foot-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-log h1 {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .footer-log {
    background-image: url(../logo/logo.png);
    height: 12vh;
    background-repeat: no-repeat;
  }
  .footer-log h1 {
    display: none;
  }
  .foot-icon {
    display: flex;
    gap: 100px;
    font-size: 25px;
    margin-bottom: 2em;
  }
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav-bar-p {
  margin: 0 !important;
}

.own-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
}

header {
  background-color: #FFC01F;
  padding: 0px;
}
header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}

.nav-bar {
  padding: 20px 0;
}
.nav-bar .nav-bar-p {
  margin: 0 !important;
}
.nav-bar a {
  color: #353535;
}
.nav-bar .lang-hover:hover {
  color: #FFC01F;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-1_p1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 97.52px;
  color: #596C72;
}

.section-1_p2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 25.1px;
  color: #FFC01F;
}

.section-1_p3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 41%;
}

.section_2 {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 10px;
}
.section_2 img {
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.tech-text p {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #596C72;
  margin-top: 5rem;
}

.tech-list-border {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #353535;
  border-radius: 30px;
  padding: 5px 20px;
  margin: 0 auto;
  width: 90%;
}
.tech-list-border p {
  margin: 0 auto;
}
.tech-list-border p:hover {
  color: #FFC01F;
  cursor: pointer;
}

.techs_list .techs_list_all-txt {
  background-color: #FFC01F;
  text-align: center;
  position: absolute;
  border-radius: 30px;
}
.techs_list .techs_list_all-txt p {
  margin: 0 auto;
  padding: 6px 18px;
}

.scrool {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 5em;
}

.page-head-link ul {
  display: flex;
  gap: 10px;
}
.page-head-link ul li {
  font-size: 15px;
}
.page-head-link ul li a {
  color: #ADADAD;
}
.page-head-link ul li a:hover {
  color: greenyellow;
}

.smaal-card-img-part-1 {
  display: flex;
  flex-direction: column;
}

.rent-sec {
  display: flex;
  gap: 10px;
}
.rent-sec .rent-sec-img-part2 {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.product-name-part {
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 10px;
}
.product-name-part .product-head-txt {
  display: flex;
  justify-content: space-between;
}
.product-name-part .product-head-txt .product-name-txt1 {
  font-size: 23px;
  line-height: 24.38px;
  font-weight: 600;
  color: #596C72;
}
.product-name-part .product-head-txt .product-name-txt2 {
  font-size: 14px;
}
.product-name-part .product-head-txt span .product-name-bottom-txt {
  position: relative;
  bottom: 12px;
}/*# sourceMappingURL=style.css.map */